.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.todo {
  background-color: white;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}